
h1 {
    text-align: center;
    font-family: Ubuntu
}

#options {
    text-align: center;
    height: 30vw;
    font-size: 7vw;
    font-family: Ubuntu;
}

.selector {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.selector button,
.selector select {
    font-size: 10vw;
}

#view {
    display: flex;
    flex-wrap: wrap;
}



.playerdiv {
    border-radius: 2vw;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 2vw;
    margin: 5vw;
    flex: 1;
    
    height: 33vw;
    flex-basis: 20vw;
    position: relative;
    max-width: 35%;
    background-color: white;
}

.playerdiv h3 {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    line-height: 9px;
    position: absolute;
    font-family: Ubuntu;
}

.indicator {
    animation: fadeOut 10s forwards;
    color: green;
    position: absolute;
    right: 5vw;
    opacity: 0;
    font-size: 10vw;
    top: 0;
    margin: 0;
}

.oindi {
    opacity: 0;
}

.dicediv {
    display: flex;
    flex-wrap: wrap;
}

.dicediv img {
    flex: 1;
    max-width: 49%;
    flex-basis: 10vw;
    padding: 0.1vw;
}

.decoration {
  width: 105%;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

@keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0;
}
}
